
.slideBox {
  max-width: 1000px;
  position: relative;
  margin: auto;
  max-height: 500px;
}


.mySlides1,.mySlides2 ,.mySlides3,.mySlides4{
  display: none;
    float: left;
}

.prev, .next {
  margin-top: -22px;
  padding: 16px;
  color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideTextBox{
    width:50%;
    float: right;
    height: 500px;
}

.capText {
  color: #f2f2f2;
  font-size: 15px;
  height: 100%;
    padding: 20px;
}


.dot1, .dot2 , .dot3,.dot4{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot1:hover .dot2:hover{
  background-color: rgb(237,37,78);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}