.menuButton {
    float:left;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}
.menuButton:hover{
    background-color: azure;
    border-radius: 15px;
}
#MenuBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected {
    text-decoration: underline;
    text-decoration-color: rgb(237,37,78);
}
#ContentBox{
    display: inline-block;
    margin-left: 5%;
    top: 20px;
    width: 95%;
    position: relative;
}
.contentBlock{
    float:left;
    margin: 20px 1% 20px 1%;
    width: 14%;
    min-width: 200px;
    height: 750px;
    text-align: left;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 3px 10px grey;
    transition: 0.25s ease-out;
}
.contentBlock:hover{
    cursor: pointer;
    float: left;
    width: 14.3%;
    height: 760px;
    transition: 0.25s ease-out;
    margin-bottom: 10px;
}
.Txt{
    margin: 5px 15px 5px 15px;
}

/* CSS til scrollbaren, hvis der er overflow */

.contentBlock::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    
}
.contentBlock::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: inset 4px 0 4px grey;
}
.contentBlock::-webkit-scrollbar-track {
    box-shadow: inset 0 0 9px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.contentBlock::-webkit-scrollbar-thumb:hover{
    background-color: lightgray;
}
.headBoxText {
     float: right;
     width: 50%;
     font-size: 10px;
    padding: 20px;
}

.headBoxImg{
      

}
.headBox{
    margin: auto;
    width: 1000px;
}
.beskrivBox{
    width: 1000px;
    margin: auto;
}