.menuButton {
    float:left;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}
.menuButton:hover{
    background-color: azure;
    border-radius: 15px;
}
#MenuBar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected {
    text-decoration: underline;
    text-decoration-color: rgb(237,37,78);
}
#ContentBox{
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    left:15%;
   
}
.contentBlock{
    float:left;
    margin: 20px 20px 20px 20px;
    width: 275px;
    height: 750px;
    color: white;
    position: relative;
}
.Txt{
    margin: 5px 15px 5px 15px;
}

